
/* Side bar with icons and bio */

main{
	width: 40%;
	padding-left: 5%;
	float: left;
	max-width: 550px;
	 
}

.icon{
	display: inline-block;
	width: 20%;
	margin-top: 8%;
	margin-left: 3%;
}


/*Footer*/
footer{
	color: #8d8989;
	font-size: 14px;
	text-align: center;
	width: 100%;
	display: inline-block;
	margin-top: 10%;

}

/*ipad */
@media all and (max-width: 850px) {
main{
	width:65%;
}
}

/*Mobile */

@media all and (max-width: 600px) {
main{
	width: 90%;
	margin: 2%;
}

.icon{
	width: 40%;

}

h1{
	margin-top: 2%;
}

}


/*End Mobile */

body, html{
	margin:0%;
	background: #2B2E31;
}


h1{
	font-family: 'Varela Round', sans-serif;
	font-weight: 800;
	font-size: 60px;
	color:white;
}


body, a{
	
	color: #8d8989;
	font-family: 'Varela', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-decoration: none;


}

strong{
	font-weight: 800;
	font-size: 22px;
	color:white;
}

.bio_link a{
	color: #336699;
}

a:hover{
	color: white;
}
