<nav>

	<div class ="icon">	
	<a href="/blog/">	
	<span class="fa-stack fa-fw"> <i class="fa fa-pencil-square fa-2x"> </i> </span>
	<span class="nav_text">&nbsp;Blog</span></a>
	</div>

	<div class ="icon">
	<a href="/#about">
		<span class="fa-stack fa-fw">
		<i class="fa fa-square fa-stack-2x"></i>
		<i class="fa fa-book fa-stack-1x"></i>
		</span>
		<span class="nav_text">&nbsp;About</span>
	</a>
	</div>

	<div class ="icon">
	<a href="/#projects">
		<span class="fa-stack fa-fw">
		<i class="fa fa-square fa-stack-2x"></i>
		<i class="fa fa-wrench fa-stack-1x"></i>
		</span>
		<span class="nav_text">&nbsp;Projects</span>
	</a>
	</div>

	<div class ="icon">
	<a href="/#interwebs">
		<span class="fa-stack fa-fw">
		<i class="fa fa-square fa-stack-2x"></i>
		<i class="fa fa-cloud fa-stack-1x"></i>
		</span>
		<span class="nav_text">&nbsp;Interwebs</span>
	</a>
	</div>

		
</nav>